# Ignore compiled binaries and libraries
*.exe
*.dll
*.so
*.dylib

# Ignore dependencies folder
/node_modules

# Ignore logs and temp files
/log/
/tmp/

# Ignore environment-specific files
.env

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db
